<section class="relative h-full container mx-auto pt-28">
  <h1
    class="text-white mb-5 font-medium title-font inline-block text-2xl relative after:absolute after:w-1/2 after:h-1 after:bg-accent-500 after:bottom-0 after:left-0"
  >
    Proyect Name
  </h1>

  <div class="grid desktop:grid-cols-2">
    <div class="relative mb-10 w-1/2 z-10 mx-auto container">
      <img
        class="aspect-video object-contain"
        src="assets\pictures\proyects\countries-app-desktop-mockup.webp"
        alt="imagen proyecto countries app desktop"
      />
      <img
        class="absolute object-contain top-8 right-0 aspect-square w-20 animate-float duration-1000"
        src="assets\pictures\proyects\countries-app-phone-mockup.webp"
        alt="imagen proyecto countries app phone"
      />
    </div>

    <div>
      <h2 class="text-lg text-white mb-5">
        Angular Country Explorer with REST Countries API (Fernando Herrera
        Course Project)
      </h2>
      <p class="text-white">
        This Angular application, built as part of the Fernando Herrera Course
        "Angular de cero a experto" (From Zero to Expert), serves as a
        comprehensive country explorer powered by the REST Countries API. I've
        focused on enhancing the UI for a visually appealing and intuitive user
        experience. The app is fully responsive, adapting elegantly to any
        screen size for seamless exploration across devices.
      </p>
    </div>
  </div>
</section>
